<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBTravel/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBTravel/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBTravel/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <link href="/LBTravel/content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="/LBTravel/js/jquery2.js"></script>
        <script src="/LBTravel/js/jquery.form.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/LBTravel/content/autocomplete/autocomplete.js"></script>
        <script src="/LBTravel/view/common/common.js"></script>
        <script src="/LBTravel/view/tongJi/tongJi.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;名称：</span><input id="selName" type="text" />
                    <span>&nbsp;线路：</span><input id="selXianLu" type="text" />
                    <span>&nbsp;地接社：</span><input id="selDiJieShe" type="text" />
                    <span>&nbsp;负责人：</span><input id="selA01" type="text" />
                    <span>&nbsp;日期 起：</span><input id="selSjq" type="text" />
                    <span>&nbsp;止：</span><input id="selSjz" type="text" />
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectTongJi();" style="margin-left: 2px;">查找</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="daochu();" style="margin-left: 2px;">导出</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:7%">姓名</th>
                        <th style="width:11%">身份证</th>
                        <th style="width:7%">电话</th>
                        <th style="width:7%">参团时间</th>
                        <th style="width:10%">参团线路</th>
                        <th style="width:5%">性质</th>
                        <th style="width:9%">地接社</th>
                        <th style="width:6%">团费</th>
                        <th style="width:6%">利润</th>
                        <th style="width:6%">负责人</th>
                        <th style="width:6%">返佣</th>
                        <th style="width:6%">保险</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody id='data_table_body'>
                    <tr><td>请查询参团信息记录</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
