<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/LBTravel/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/LBTravel/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/LBTravel/content/autocomplete/autocomplete.css" rel="stylesheet" />
        <link href="/LBTravel/content/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="/LBTravel/js/jquery2.js"></script>
        <script src="/LBTravel/js/jquery.form.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap.min.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-paginator.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/LBTravel/content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/LBTravel/content/autocomplete/autocomplete.js"></script>
        <script src="/LBTravel/view/common/common.js"></script>
        <script src="/LBTravel/view/lvXing/lvXing.js"></script>
    </head>
    <body style='height:800px;'>
        <div style="float:left; width: 100%">
            <div style="width: 100%">
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <span>&nbsp;姓名：</span><input id="selName" type="text" />
                    <button type="button" class="btn btn-primary btn-sm" onclick="selectLvXing();" style="margin-left: 2px;">查找</button>
                </div>
                <div style="width: 100%;float:left; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addLvXing();">新增参团信息</button>
                </div>
            </div>
            <div id="list1" class="table-responsive" style="height: 678px;width:100%;padding-top: 5px;">
                <table id="data_table" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width:10%">姓名</th>
                        <th style="width:15%">身份证</th>
                        <th style="width:12%">电话</th>
                        <th style="width:12%">参团时间</th>
                        <th style="width:15%">参团线路</th>
                        <th style="width:10%">负责人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id='data_table_body'>
                    <tr><td>请查询参团信息记录</td></tr>
                    </tbody>
                </table>
            </div>

            <ul id="example"></ul>
        </div>
        <div class="modal fade" id="lvXingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #ace1ff;height: 40px;border-top-left-radius: 6px;border-top-right-radius: 6px;padding:10px">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="lvXingModel_title">添加参团信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div class="form-group">
                                <label for="inpMc">姓&ensp;&ensp;&ensp;&ensp;名：</label>
                                <input type="text" id="inpMc" />
                            </div>
                            <div class="form-group">
                                <label for="inpSfz">身&ensp;份&ensp;证：</label>
                                <input type="text" id="inpSfz" />
                                
                                <label for="inpDh">电&ensp;&ensp;&ensp;&ensp;话：</label>
                                <input type="text" id="inpDh" />
                            </div>
                            <div class="form-group">
                                <label for="inpCtsj">参团时间：</label>
                                <input type="text" id="inpCtsj" />
                                
                                <label for="inpCtxl">参团线路：</label>
                                <input type="text" id="inpCtxl" />
                            </div>
                            <div class="form-group">
                                <label for="inpCtxz">性&ensp;&ensp;&ensp;&ensp;质：</label>
                                <input type="text" id="inpCtxz" />
                                
                                <label for="inpCtdjs">地&ensp;接&ensp;社：</label>
                                <input type="text" id="inpCtdjs" />
                            </div>
                            <div class="form-group">
                                <label for="inpCtfy">团&ensp;&ensp;&ensp;&ensp;费：</label>
                                <input type="text" id="inpCtfy" />
                                
                                <label for="inpCtlr">利&ensp;&ensp;&ensp;&ensp;润：</label>
                                <input type="text" id="inpCtlr" />
                            </div>
                            <div class="form-group">
                                <label for="inpA01">负&ensp;责&ensp;人：</label>
                                <input type="text" id="inpA01" />
                                
                                <label for="inpCtfj">返&ensp;&ensp;&ensp;&ensp;佣：</label>
                                <input type="text" id="inpCtfj" />
                            </div>
                            <div class="form-group">
                                <label for="inpCtbx">保&ensp;&ensp;&ensp;&ensp;险：</label>
                                <input type="text" id="inpCtbx" />
                            </div>
                            <div class="form-group">
                                <label for="inpBz">备&ensp;&ensp;&ensp;&ensp;注：</label>
                                <input type="text" id="inpBz" style="width: 400px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;padding: 8px;">
                        <label id="lbLxzj" style="float:left;"><input type="checkbox" id="inpLxzj" />连续增加</label>
                        <button type="submit" class="btn btn-primary" onclick="saveLvXing()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
